#joke-card{
    border: 3px solid black;
    border-radius: 5px;
    margin: 20px;
    height: 300px;
    width: 250px;
    float: left;
    padding: 0 10px 10px 10px;
}
.joke-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: grey;
}
#trivia-card{
    border: 3px solid black;
    border-radius: 5px;
    margin: 20px;
    height: 300px;
    width: 250px;
    float: left;
    padding: 0 10px 10px 10px;
}
.trivia-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: grey;
}