

/*...Stefane style.....*/
.display-3{
    font-size: 190px
    
}
#display3{
    background-image: url("https://foodrevolution.org/wp-content/uploads/2018/03/blog-featured_healthy_foods-20180306.jpg");

}
#picture-col{
    border: 3px solid black;
    border-radius: 5px;
    margin: 20px 0;
}
#scrollbox{    
    height:242px;
    margin: 20px;    
    overflow:auto; 
    overflow-x:hidden;
    width: 100%;  
}  


.joke-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #e7eeed;
}


#joke-card{
    border: 3px solid black;
    border-radius: 5px;
    margin: 20px;
    min-height: 348px;
    width: 250px;
    float: left;
    padding: 0 10px 10px 10px;
    background-image: url("../../images/images/4.jpg");
    background-size: cover;
    border-radius: 28px;
}
#jokes{
    color: #e7eeed;
    background-color: rgba(0,0,0,0.5)
}
#joke-header{
    text-align: center;
}
.image-search{
    height: auto;
    max-width: 30%;
    border: 3px solid black;
    overflow: auto;
    border-radius: 5px;
    margin:10px 0 10px 20px;
}
p.title-search{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

}
#picture-boxes img{
    max-width: 90%;
    max-height: 180px   
}






/*..... Stefan dropdown menu......*/
div#header{
    height: 200px; 
}
#banner{
    margin:20px 0 0 0;
    background-color: aqua;
}
#menu-background{
    background-color: gray;
}
.dropdown{
    margin:0 0 0 40px;
    float: left;
}
#dropdownMenuButton{
    text-align: left;
    width:210px;
    color: rgb(200, 227, 253);
    background-color: gray;
    font-size: 25px;
    margin: 0 0 0 0;
}
.dropdown-menu{
    border: 1px solid black;
    font-size: 20px;
}
.dropdown-item{
    font-size: 20px;
}
.mutliSelect ul,.mutliSelect1 ul,.mutliSelect2 ul,.mutliSelect3 ul,.mutliSelect4 ul{
    list-style: none;
    font-size: 20px;
}
.multiSelect input[type="checkbox"]{
    margin-right: 0 10px 0 0;
    text-align: left !important;
}
.mutliSelect input,.mutliSelect1 input,.mutliSelect2 input,.mutliSelect3 input,.mutliSelect4 input,.dropdown-menu input
 {
    margin-right:10px !important;
 }
 .dropdown-menu ul{

    padding-left:20px !important
 }

 .dropdown-menu {
    min-width: 250px !important;
 }
 .multiSel, .multiSel1, .multiSel2, .multiSel3{display:none}






 /*....Stefan joke style...*/


#trivia-card{
    border: 3px solid black;
    border-radius: 5px;
    margin: 20px;
    min-height: 348px;
    width: 250px;
    float: left;
    padding: 0 10px 10px 10px;
}
.trivia-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #e7eeed;
}
#trivia{
    background-color: rgba(0,0,0,0.5);
}
#trivia-header{
    color: #e7eeed;
    text-align: center;
}


/*.....May style....*/
.display-3{
    font-size: 90px;
    text-align: center;
    margin-top: 10px;
}
#display3{
    background-image: url("https://foodrevolution.org/wp-content/uploads/2018/03/blog-featured_healthy_foods-20180306.jpg");
}
.image-search{
    height: auto;
    max-width: 30%;
    border: 3px solid black;
    overflow: auto;
    border-radius: 5px;
    margin:10px 0 10px 20px;
}
p.title-search{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}



#trivia-card{
    border: 3px solid black;
    border-radius: 5px;
    margin: 20px;
    min-height: 348px;
    width: 250px;
    float: left;
    padding: 0 10px 10px 10px;
    background-image: url("../../images/images/3.jpg");
    background-size: cover;
    border-radius: 28px;
    border-radius: 28px;
    
}


div#header{
    height: 200px; 
}
#banner{
    margin:20px 0 0 0;
    background-color: aqua;
}
#menu-background{
    background-color: gray;
}
.dropdown{
    margin:0 0 0 40px;
    float: left;
}
#dropdownMenuButton{
    text-align: left;
    width:210px;
    color: rgb(200, 227, 253);
    background-color: gray;
    font-size: 25px;
    margin: 0 0 0 0;
}
.dropdown-menu{
    border: 1px solid black;
    font-size: 20px;
}
.dropdown-item{
    font-size: 20px;
}
.mutliSelect ul{
    list-style: none;
    font-size: 20px;
}
.multiSelect input[type="checkbox"]{
    margin-right: 0 10px 0 0;
    text-align: left !important;
}


/*......May slider style...*/
#picture-col{
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    margin: 20px;padding:30px;
    min-height: 326px;
  } 
  div#scrollmenu {
    overflow: auto;
    white-space: nowrap;
  }
  #yummly {
      display: inline-block;
      color: white;
      text-align: center;
      margin:5px 10px 5px 10px;
      text-decoration: none;
      
  }
  #yummly:hover {
      background-color: #777;
  }

  .slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }
  .title-search{
    text-transform: capitalize;
  }
  .footer {
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    text-align: center;
}




  /*....Zewdu code for dropdown...*/
  #container{

    margin-left: 200px !important;
    padding-bottom: 400px;
    height:50%;
=======
/*...Stefan style.....*/
body {
    background-image: ("src","images/bag_background.gif");
}
.display-3{
    font-size: 190px;
    width: 100%;
    height: auto;
}
div#header{
    height: 200px; 
}
#banner{
    background-image: url("bag_background.jpg");
}

#picture-col{
    border: 3px solid black;
    border-radius: 5px;
    margin: 20px 0;
}
#scrollbox{    
    height:300px;
    margin: 20px;    
    overflow:auto; 
    overflow-x:hidden;
    width: 100%;  
}  
#joke-card{
    border: 3px solid black;
    border-radius: 5px;
    margin: 20px;
    height: 300px;
    width: 250px;
    float: left;
    padding: 0 10px 10px 10px;
}
.joke-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: grey;
}
.image-search{
    height: auto;
    max-width: 30%;
    border: 3px solid black;
    overflow: auto;
    border-radius: 5px;
    margin:10px 0 10px 20px;
}
p.title-search{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

}
#picture-boxes img{
    max-width: 90%;
    max-height: 180px   
}






/*..... Stefan dropdown menu......*/
#menu-background{
    background-color: gray;
}
.dropdown{
    margin:0 0 0 40px;
    float: left;
}
#dropdownMenuButton{
    text-align: left;
    width:210px;
    color: rgb(200, 227, 253);
    background-color: gray;
    font-size: 25px;
    margin: 0 0 0 0;
}
.dropdown-menu{
    border: 1px solid black;
    font-size: 20px;
}
.dropdown-item{
    font-size: 20px;
}
.mutliSelect1 ul,.mutliSelect2 ul,.mutliSelect3 ul,.mutliSelect4 ul,.mutliSelect5 ul,.mutliSelect6 ul{
    list-style: none;
    font-size: 20px;
}
.multiSelect input[type="checkbox"]{
    size: 20px !important;
    margin-right: 0 10px 0 0;
    text-align: left !important;
}
.mutliSelect input,.mutliSelect1 input,.mutliSelect2 input,.mutliSelect3 input,.mutliSelect4 input,.dropdown-menu input
 {
    margin-right:10px !important;
 }
 .dropdown-menu ul{

    padding-left:20px !important
 }
 #dropdown-text{
     ;
 }

 .dropdown-menu {
    min-width: 250px !important;
 }
 .multiSe1, .multiSel2, .multiSel3, .multiSel4, .multiSel5, .multiSel6{display:none}






 /*....Stefan joke style...*/
 #joke-card{
    border: 3px solid black;
    border-radius: 5px;
    margin: 20px;
    height: 300px;
    width: 250px;
    float: left;
    padding: 0 10px 10px 10px;
}
.joke-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: grey;
}
#trivia-card{
    border: 3px solid black;
    border-radius: 5px;
    margin: 20px;
    height: 300px;
    width: 250px;
    float: left;
    padding: 0 10px 10px 10px;
}
.trivia-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: grey;
}



/*.....May style....*/
.display-3{
    font-size: 90px;
    text-align: center;
    margin-top: 10px;
}
#display3{
    background-image: url("https://foodrevolution.org/wp-content/uploads/2018/03/blog-featured_healthy_foods-20180306.jpg");
}
.image-search{
    height: auto;
    max-width: 30%;
    border: 3px solid black;
    overflow: auto;
    border-radius: 5px;
    margin:10px 0 10px 20px;
}
p.title-search{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}



#joke-card{
    border: 3px solid black;
    border-radius: 5px;
    margin: 20px;
    height: 300px;
    width: 250px;
    float: left;
    padding: 0 10px 10px 10px;
}
.joke-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: grey;
}
#trivia-card{
    border: 3px solid black;
    border-radius: 5px;
    margin: 20px;
    height: 300px;
    width: 250px;
    float: left;
    padding: 0 10px 10px 10px;
}
.trivia-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: grey;
}
div#header{
    height: 200px; 
}

#menu-background{
    background-color: gray;
}
.dropdown{
    margin:0 0 0 40px;
    float: left;
}
#dropdownMenuButton{
    text-align: left;
    width:210px;
    color: rgb(200, 227, 253);
    background-color: gray;
    font-size: 25px;
    margin: 0 0 0 0;
}
.dropdown-menu{
    border: 1px solid black;
    font-size: 20px;
}
.dropdown-item{
    font-size: 20px;
}
.mutliSelect ul{
    list-style: none;
    font-size: 20px;
}
.multiSelect input[type="checkbox"]{
    margin-right: 0 10px 0 0;
    text-align: left !important;
}


/*......May slider style...*/
#picture-col{
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    margin: 20px;padding:30px;
  } 
  div#scrollmenu {
    overflow: auto;
    white-space: nowrap;
  }
  #yummly {
      display: inline-block;
      color: white;
      text-align: center;
      margin:5px 10px 5px 10px;
      text-decoration: none;
      
  }
  #yummly:hover {
      background-color: #777;
  }

  .slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }
  .title-search{
    text-transform: capitalize;
  }
  .footer {
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    text-align: center;
}




  /*....Zewdu code for dropdown...*/
  #container{

    margin-left: 200px !important;
    padding-bottom: 400px;
    height:50%;
  }